body{
    background-color:beige;
    margin: 0px; 
}
.container{
    width: 600px;
    margin:auto;
    padding: 50px;  
}
header{
    background: white;
    text-align:center;
    width:auto;
    height: 70px;
    font-size: 40px;
}
.post{
    background-color: white;  
}
.post-header div:first-child{

    /* background-color: darkorange; */
    display: inline-block;
    width: 80%;  
}
.post-header div:last-child{

    /* background-color: deepskyblue; */
    display: inline-block;
    width: 20%;
    float:right;
    margin-top: 25px;
    text-align: center;
    color: rgb(190, 190, 190);
}

p{
 text-align: justify;
 padding: 10px;

}